<div class="single-wrapper">
    <h2 class="title is-2">{{user.username}}'s Profile</h2>
    {{#if userBlogPosts}}
    <h4 class="subtitle is-4">{{user.username}}'s Blog Posts</h4>
    {{#each userBlogPosts as |blogpost|}}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-2">{{user.username}}</p>
                    <p class="subtitle is-4">
                        <a href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a>
                    </p>
                </div>
            </div>
            <div class="content">
                {{blogpost.description}}
                <br>
                <p>Date Posted: {{format_date blogpost.createdAt}}</p>
            </div>
            {{!-- display options to edit or delete if the posts displayed belong to the user, they can do this on the
            dashboard or on their user/:id page --}}
            {{#if usersPost}}
            <div>
                <button class="button is-light editPostBtn" data-blogpost-id="{{blogpost.id}}">Edit Post</button>
                <button class="button is-danger deletePostBtn" data-blogpost-id="{{blogpost.id}}">Delete Post</button>
            </div>
            {{/if}}
            <footer class="card-footer">
                <input type="hidden" id="post-id" value="{{blogpost.id}}">
                <input type="hidden" id="user-id" value="{{userId}}">
                {{#if blogpost.comments}}
                <div class="card-comments">
                    {{#each blogpost.comments as |comment|}}
                    <div class="comment-title">
                        <p class="title is-5">
                            <a href="/user/{{comment.user.user_id}}">{{comment.user.username}}</a>
                        </p>
                        <p class="subtitle is-6">{{format_date comment.date}}</p>
                    </div>
                    {{#if comment.usersComment}}
                    <div class="comment-content is-highlighted">
                        {{comment.text}}
                    </div>
                    <div>
                        <button class="button is-light is-small editCommentBtn"
                            data-comment-id="{{comment.commentId}}">Edit Comment
                        </button>
                        <button class="button is-danger is-small deleteCommentBtn"
                            data-comment-id="{{comment.commentId}}">Delete Comment
                        </button>
                    </div>
                    <br>
                    {{else}}
                    <div class="comment-content">
                        {{comment.text}}
                    </div>
                    <br>
                    {{/if}}
                    {{/each}}
                    <button class="button is-primary is-small addCommentBtn">Add a Comment</button>
                    {{else}}
                    <button class="button is-primary is-small addCommentBtn">Add the First Comment!</button>
                    {{/if}}
                </div>
            </footer>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div>
        <h4 class="subtitle is-4">{{user.username}} Has No Blog Posts Yet</h4>
    </div>
    {{/if}}
</div>

<script src="/javascript/editcomment.js"></script>
<script src="/javascript/newcomment.js"></script>
<script src="/javascript/deletecomment.js"></script>
<script src='/javascript/editpost.js'></script>
<script src='/javascript/deletepost.js'></script>